
<%= form_for [:projeto,tarefa], :html => {:id =>'form_projeto_tarefa'} do |f| %>
<%=f.hidden_field :projeto_id %>
	Responsavel:
  <p><%= f.text_field :responsavel %></p>
	Descricao:
	<p><%= f.text_area :descricao %></p>
	<%= f.submit %>
<% end %>