<table class="table">
	<thead>
		<tr>
			<th>Descricao</th>
			<th>Responsavel</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<% lista_tarefa.each do |tarefa| %>
		<tr id="tarefa_<%=tarefa.id%>">
      <% if tarefa.concluida? %>
        <td class="tarefa_concluida"><%= tarefa.descricao %></td>
      <% else %>
        <td><%= tarefa.descricao %></td>
      <% end %>
			<td><%= tarefa.responsavel %></td>
			<td><%= link_to 'Alterar', edit_projeto_tarefa_path(tarefa.projeto, tarefa) %></td>
			<td><%= button_to 'Finalizar', finalizar_projeto_tarefa_path(tarefa.projeto, tarefa) unless tarefa.concluida? %></td>
			<td>
				<%= link_to 'Remover', projeto_tarefa_path(tarefa.projeto,tarefa),
				  	:method => :delete,
						:class => 'remove-tarefa', 'data-elemento_id' => "tarefa_#{tarefa.id}" %>
			</td>
		</tr>
	<%end%>
</table>

<%=content_for :js do%>
	<%= javascript_include_tag "tarefas" %>
<%end%>
