<h1>Colaboradores</h1>

<table>
  <tr>
    <th>Matrícula</th>
    <th>Nome</th>
    <th>Cargo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @colaboradores.each do |colaborador| %>
  <tr>
    <td><%= colaborador.matricula %></td>
    <td><%= colaborador.nome %></td>
    <td><%= colaborador.cargo %></td>
    <td><%= link_to 'Editar', edit_colaborador_path(colaborador) %></td>
    <td><%= link_to 'Deletar Colaborador', colaborador, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Cadastrar Colaborador', new_colaborador_path %>
