<%= render :partial => 'shared/mensagem_erro', :object => @projeto%>
<%= form_for(@projeto) do |f| %>
   <p>
     <%= f.label 'Nome' %>
	 	 <%= f.text_field :nome%>
   </p>
   <p>
     <%= f.label 'Data de entrega' %>
	 	 <%= f.date_select :data_entrega, :start_year => Time.now.year, :order => [:day, :month, :year], :use_month_numbers => true %>
   </p>
   <p>
     <%= f.label 'Responsavel' %>
	 	 <%= f.text_field :responsavel%>
   </p>
  <div class="actions">
    <%= f.submit "Salvar Informações" %>
  </div>
<% end %>
