<div>
	<h2><%= @projeto.nome %></h2>
	<dl>
	  <dt><%= label_tag 'Responsavel:'%></dt>
  	  <dd><%= @projeto.responsavel %></dd>
	  <dt><%= label_tag 'Entrega prevista para:'%></dt>
	  <dd><%= @projeto.data_entrega %></dd>
    </dl>	  
</div>
<h3> Tarefas </h3>

<%= render :partial => 'tarefas/lista_tarefa', :object => @projeto.tarefas %>

<br/>
<%= link_to 'Editar', edit_projeto_path(@projeto) %> |
<%= link_to 'voltar', projetos_path %>
