<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="<%= root_path %>">TODO - Innvent Bootcamp</a>
      <div class="nav-collapse collapse">
        <ul class="nav">          
          <li><a href="#">Colaboradores</a></li>
          <li class="dropdown" id="menu">
            <a href="#menu" class="dropdown-toggle" data-toggle="dropdown">Projetos <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="<%= projetos_path %>">Cadastro de Projetos</a></li>              
              <li class="divider"></li>
              <% Projeto.all.each do |projeto| %>
                <li class="nav-header"><%= projeto.nome %></li>
                <li><a href="<%= projeto_tarefas_path(projeto) %>">Tarefas</a></li>
                <li><a href="<%= edit_projeto_path(projeto) %>">Editar Projeto</a></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>